#pic1 {
 	width: 200px; 
	height: 200px;
	margin: 20px;
	
	
}

#pic2 {
 	width: 200px; 
	height: 200px;
	margin: 20px;
	
	
}

#pic3 {
 	width: 200px; 
	height: 200px;
	margin: 20px;
	
	
}

#pic4 {
 	width: 200px; 
	height: 200px;
	margin: 20px;
	
	
}
#comp-rand {
	font-size: 30px; 
	text-align: center; 
	font-weight: bold;
}

#score {
	font-size: 30px; 
	text-align: center; 
	font-weight: bold;
}